html {
  min-height: 100%;
}

body {
  margin: 0;
  background: url('/img/mairo-bg.jpg') no-repeat;
  background-size: cover;
  min-height: 100%;
}

form {
  padding: 20px;
  margin-top: 80px;
  border-radius: 20px;
  opacity: 0.9;

}

.project-details {
  padding: 20px;
  margin-top: 80px;
  opacity: 0.9;
}